<div class="picture">
  <img src="{{imageSrc}}" alt="{{title}}" class="full-screen-image">
  <div class="overlay"></div>
  <!-- Wrap the text container with a Bootstrap container class -->
  <div class="container">
    <div class="text-container pt-5">
      <h1 class="text-white">{{title}}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{#each breadcrumbs}}
            <li class="breadcrumb-item {{#if this.active}}active{{/if}}">
              {{#if this.active}}
                {{this.label}}
              {{else}}
                <a style="color:white;"href="{{this.url}}">{{this.label}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ol>
      </nav>
    </div>
  </div>
</div>
