{{>navbar}}
{{>title}}

<div class="container py-5">
  <div class="container mt-4">
    <div class="row">
      <!-- Sidebar for Filters -->
      <div class="col-lg-3 col-md-4 ">
        <div class=" bg-light p-3 border rounded mt-2">
          <h5 class="my-custom-title mb-3">Categories</h5>
          <ul class="my-custom-list list-unstyled">
            {{#each categories.data}}
            <li><a href="{{../baseURL}}category/{{this.slug}}" class="my-custom-link {{#if @first}}active{{/if}}">{{this.category_name}}</a></li>
             {{else}}
            <div class="col-12">
               <p>No categories available.</p>
            </div>
            {{/each}}
            </ul>
        </div>
        {{#each attributes.data}}
        <div class="bg-light p-3 border rounded mt-2">
          <h5 class="my-custom-title mb-3">Filter by {{this.name}}</h5>
          <ul class="my-custom-list list-unstyled">
            {{#each this.terms}}
            <li><a href="#" class="my-custom-link">{{this}}</a></li>
            {{else}}
            <li>No terms available.</li>
            {{/each}}
          </ul>
        </div>
        {{else}}
        <div class="col-12">
          <p>No attributes available.</p>
        </div>
        {{/each}}
      </div>
      <!-- Products List -->
      <div class="col-lg-9 col-md-8">

        {{!-- products list --}}
        <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pt-3">
      {{#each products}}
          {{#if (eq this.primary_category_id ../selectedCategory.data.id)}}
        <div class="col">
            <a href="/product/{{this.slug}}" class="card-link">
                <div class="card h-100 text-center">
                    <div class="product-img-wrapper">
                        <img src="../../public/uploads/{{this.default_image}}" class="card-img-top" alt="{{this.name}}">
                    </div>
                    <div class="card-body">
                        <p class="text-muted mb-1 model">{{this.sku}}</p>
                        <p class="card-title fw-bold ">{{this.name}}</p>
                    </div>
                </div>
            </a>
        </div>
         {{/if}}
        {{/each}}
    </div>   
</div>
      </div>
    </div>
  </div>
</div>
{{>footer}}
